body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}

header {
    background-color: #12372A;
    color: #fff;
    padding: 1em;
    text-align: center;
}

section {
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
    text-align: center;
    height: 100vh;
    border-radius: 20px;
}

h1{
    font-size: 75px;
    margin-bottom: 0px;
}

h2 {
    font-size: 46px;
    color: #cbd6d2;
}

p {
    font-size: 28px;
    line-height: 1.6;
    color: #cbd6d2;
}

footer {
    background-color: #2f4841;
    color: #cbd6d2;
    text-align: center;
    padding: 1em 0;
}

nav {
    margin: 0px;
    text-align: center;
    background-color:#2f4841;
    padding: 75px;
}

nav a {
    margin: 100px  ;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    color: #cbd6d2;
}

a {
    text-decoration: none;
}

.container {
    width: 50%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.left-container {
    background-color: #2f4841;
}

.right-container {
    margin-top: 50px;
    margin-left: 100px;
    background-color: #2f4841;
}

.intro {
    text-align: justify;
    margin-left: 400px;
    margin-right: 400px;
}

.egg {
    margin-top: 100px;
    display: block;
    width: 740px;
    height: 378px;
    background-color: #6e897f;
    border-radius: 50% 50% 50% 50% / 60% 40% 60% 40%;
  }

.egg2 {
    display: block;
    width: 740px;
    height: 378px;
    background-color: #407e63;
    border-radius: 50% 50% 50% 50% / 60% 40% 60% 40%;
}

.circular-image {
    position: absolute;
    top: 750px;
    right: 250px;
    border-radius: 50% 50% 50% 50% / 60% 40% 60% 40%;
    width: 22%;
    height: 55%;
}

.margin {
    margin-top: 70px;
}

.highlight {
    color: #ea5b2a;
    font-size: 50px;
}




.main-bg {
    background-color: #2f4841;
}

.second-bg {
    background-color: #407e63;
}

.third-bg {
    background-color: #cbd6d2;
}

.font-color {
    background-color: #ea5b2a;
}


/* #ADBC9F */
