body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #12372A;
    color: #fff;
    padding: 1em;
    text-align: center;
}

section {
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
    text-align: center;
    height: 100vh;
    border-radius: 20px;
}

h1{
    font-size: 75px;
    margin-bottom: 0px;
}

h2 {
    color: #f2dbd2;
}

p {
    line-height: 1.6;
    color: #f2dbd2;
}

footer {
    background-color: #333;
    color: #f2dbd2;
    text-align: center;
    padding: 1em 0;
}

nav {
    margin: 0px;
    text-align: center;
    background-color: #64a494;
    padding: 75px;
}

nav a {
    margin: 100px  ;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    color: #f2dbd2;
}

a {
    text-decoration: none;
}


.main_bg {
    background-color: #64a494;
}

.second_bg {
    background-color: #046b54;046b54
}

.third_bg {
    background-color: white;
}

/* #ADBC9F */
